/**Quando eu quero estilazar um elemento pelo nome eu simplesmente coloco o nome do elemento igual realizamos abaixo, estilizando a cor de fundo da tela nosso elemento body**/

body{
    /**Definir a cor de fundo de um elemento, no nosso caso é a cor de fundo da tela**/
    background-color: aliceblue;
}
menu{
    background-color: #9a87c7;
    padding: 10px;/**Adiciona espaço ao redor do conteudo do menu**/
    text-align: center;/**Alinhamento do texto**/
    display: flex;/**usa um layout flexivel para alinhar os elementos**/
    justify-content: center;/**alinha elementos horizontalmente**/
    gap: 2rem;/**define a distancia entre os elemnentos**/
    /**alteraçoes aula 26/10*/
    height: 80px;
    width: 100%;
    position: fixed;/*fixa o elemento na tela*/
    z-index: 2;/*faz com que o elemento fique por cima dos outros*/
    margin-top: 0;/*posiciona o elemento à uma distancia de 0px da extremidade da pagina*/
}
/**alteraçoes aula 26/10*/
#titulo2{
    margin-top: 5%;
    margin-left: 2%;

}
/**Estilizando o elemento pela classe com o caracter antes do nome da classe**/
.menu-itens{
    color: #5b34b6; /**define cor do elememto**/
    text-decoration: none;/**retira trao de link da palravra**/
    padding: 10px 20px;
    font-size: 18px;/**define o tamanho do texto**/
    display: inline-block;/**deixa o item como bloco em uma linha**/
}
/**hover é um evento de mouse que ocorre uma ação toda vez que colocamos o mouse em cima do elemento. Abaixo aplicamos um evento de mouse no nosso menu**/
.menu:hover{
    /*quando colocarmos o mouse sob o elemento iremos*/
    background-color: lavender; /*trocar a cor de */
    color:  #D3D3D3;
    width: 220px;
    padding: 15px 25px;
    border-radius: 8px;

}
.caixa1{
    background-color: #B0C4DE;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
}
.carrousel-inner{
    position: relative;/*ao mover o elemento, ele não interfere nos outros elementos ao seu redor*/
}
.carrousel-control-prev, .carrousel-control-next{
    position: absolute;/*posicionna um elemento em relação ap elemento pai mais prox*/
    top: 50%;/*posiciona a 50% da altura do elemento filho*/
    transform: translateY(-50%);/**/
    width: 5%;/*ajuste da largura das setas*/
    z-index: 1;/*garante que fiquem sobre a imagem*/
    background-color: rgb(0, 0, 0, 0.5);

}
/*alteracao aula 26/10*/
footer{
    background-color:#11052c;
    height: 50px;
    color: aliceblue;
    justify-items: center;
    padding-top: 1%;
    margin-bottom: 0%;
}